/* home styles */ 


/*the image used on home, and browse items is from Photo by rawpixel.com from Pexels
*/

.homeBg {
  /*full heigh*/
  height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  
  
  .btn {
    background-color:  rgb(23, 154, 45); /* teal background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(12, 138, 136);
  }

  
  /* Centered text */
  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
  }
  
  /*  end of home styles */

  /* loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(250, 245, 88);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;  /*Safari*/
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  /* AddPost toggle functionality */
  .add-post  {
    display: none;

}
  
.searchBgImg {
  background-image:  "url('https://images.pexels.com/photos/1493378/pexels-photo-1493378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')";
  transform: rotate(90deg);
}


 /* Nav styles */
  
  .theNav {
      /* padding: 10px; */
      font-size: 18px;
      color: white;
      /* background-blend-mode: color; */
      background-color:  #00B1A5;
      margin-bottom: 30px;
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      
    }
    
    .theNav li {
      padding: 0 12px;
    }
    
    .theNav li {
      padding: 0 12px;
      list-style: none;
    }
    
    .theNav a {
      color:   rgb(252, 244, 190);
    }
    /* Look into Form accessibility */

    input { 
      background-color: whitesmoke;
      /* transparent !important; */
    }
  
    /* my main colors */
    .color1 {
      color: #00B1A5;
    }
    
    .color2{
      color: #FFDE74;
    }
    .color3 {
      color: #018C8F;
    }
    
    .color4 {
      color: rgb(202, 3, 202);
    }
    
    /* Links */
    a,
    a:focus,
    a:hover {
      color: rgb(255, 254, 204);
    }
    
  
    /* Custom default button */
    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
      color: rgb(255, 255, 255);
      text-shadow: none; /* Prevent inheritance from `body` */
      background-color: #fff;
      border: .05rem solid #fff;
    }
    
    
    .cover-container {
      max-width: 42em;
    }
    
    a {
      color: rgb(78, 76, 76);
    }
    
    .breadcrumb {
      color: blue;
    }
    .breadcrumb .breadcrumb-item:hover{
      color: yellowgreen;
    }
  
    .breadcrumb-item .active {
      color: rgba(163, 42, 147, 0.829);
    
    }
    
    
    /*
     * Cover*/
    .cover {
      padding: 0 1.5rem;
    }
    .cover .btn-lg {
      padding: .75rem 1.25rem;
      font-weight: 700;
    }
    .jumbotron{
      background-size: cover;
     }
    
    .rgba-gradient {
      background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
      background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
      background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
      background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
      background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    }

 
    body {
      height: 100%;
      margin: 0;
      /* font-family: 'Open Sans', sans-serif; */

    }

 
    footer {
      position: absolute;
      left: 0;
      right:0;
      /* bottom: 0; */
      width: 100%;
      margin-top: 30px;
      padding-top:30px;
      text-align: center;
    }



    .card-img-top {
      width: 100%;
      height: 40vh;
      object-fit: cover;
      }

/* GrowStuff component styling of card */
      .growStuff-img {
        height: auto;
        max-height: 200px;
        width: auto;
        max-width: 320px;
        
      }

      .growStuff-card {
        margin-top: 20px;
        width: 320px;
        height: 400px;
      }

      .card-footer{
        background: #fff;
        color: yellowgreen;
       
      }

      html,
      body,
      header,
      .view {
        height: 100%;
      }
    
      */
      /*
       * Footer
       */
      
      .bg-image {
        height:50%;
        background-attachment: center;
        background-repeat: no-repeat;
        background-size: cover;
      }