#ignore this!
#wireframes
/NewProject.bmpr

#resource folder
/resources
.DS_store

#development
/node_modules

.DS_Store

#secrets
.env

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
/client/src/components/TestPage.js
/client/src/Auth/auth0-variables.js
/client/src/components/LandingPage.js

/node_modules

/back-end/.babelrc
/back-end/routes/
/01-login/
/02-user-profile/
Screen Shot 2019-04-17 at 1.40.37 PM.png

# misc
npm-debug.log