/* 

/*home bg image */
/* body, html{
  height: 100%
} */








/*the image used  Photo by rawpixel.com from Pexels
*/







/*  end of home styles */


/* 
body {
  /* ... other rules ... 
  margin-top: 5px;
} 

.theNav {
    /* padding: 10px; 
    font-size: 18px;
    color: white;
    /* background-blend-mode: color; 
    background-color:  #00B1A5;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    
  }
  
  .theNav li {
    padding: 0 12px;
  }
  
  .theNav li {
    padding: 0 12px;
    list-style: none;
  }
  
  .theNav a {
    color:   rgb(252, 244, 190);
  }
   Form accessibility - unstead of whit it will be transparent
  input { 
    background-color: whitesmoke !important;
  }
  
  .color1 {
    color: #00B1A5;
  }
  
  .color2{
    color: #FFDE74;
  }
  .color3 {
    color: #018C8F;
  }
  
  .color4 {
    color: rgb(202, 3, 202);
  }

  
 
  
  
   Links 
  a,
  a:focus,
  a:hover {
    color: #fff;
  }
  
  Custom default button 
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: rgb(255, 255, 255);
    text-shadow: none; /* Prevent inheritance from `body` 
    background-color: #fff;
    border: .05rem solid #fff;
  }
  
  
  /*
   * Base structure
   */
  
  /* html,
  body {
    height: 100%;
    background-color: #333;
  } */
  
  /* body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  } 
  
  .cover-container {
    max-width: 42em;
  }
  
  a {
    color: rgb(78, 76, 76);
  }
  
  /*
   * Header
   
  .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 0;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
 



  
 

  */